<div class="page-container">
    <h1>My <span class="red">projects</span></h1>
    <div class="projects-container">
        <div class="card" *ngFor="let project of projects">
            <div class="card-header">
                <h4>{{project.title}}</h4>
            </div>
            <img class="card-image" decoding="async" loading="lazy" [src]="project.img" alt="Project Image">
            <div class="card-content">
                <p>{{project.description}}</p>
            </div>
            <div class="card-footer">
                <a *ngIf="project.src" [href]="project.src" target="_blank" class="code-button" [class.disabled]="project.disabled">View more</a>
                <button *ngIf="!project.src" class="code-button" [class.disabled]="project.disabled">View more</button>
                <span *ngIf="project.disabled" class="simple-tooltip">Coming soon</span>
            </div>
        </div>
        <div class="card coming-soon">
            <p>
                More projects coming soon...
            </p>
        </div>
    </div>
</div>