<div class="page-container">
    <h1>Contact <span class="red">me</span></h1>
    <div class="card">
        <div class="card-content">
            <div class="form-container">
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="Your e-mail">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message..."></textarea>
            </div>
            <div class="media-links">
                <a class="clickable-link" href="mailto:tomasmelone@hotmail.com?subject=Contact%20from%20website">
                    <i class='bx bx-at'></i>
                    tomasmelone@hotmail.com
                </a>
                <a class="clickable-link" href="https://www.linkedin.com/in/tomasmelone/" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                    Linkedin
                </a>
                <a class="clickable-link" href="https://github.com/tomimelo/" target="_blank">
                    <i class='bx bxl-github' ></i>
                    Github
                </a>
            </div>
        </div>
        <div class="card-footer">
            <button>Send message</button>
        </div>
    </div>
</div>