<div class="page-container">
    <h1>Contact <span class="red">me</span></h1>
    <div class="card">
        <div class="card-content">
            <div class="form-container">
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="Your e-mail">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message..."></textarea>
            </div>
            <div class="media-links">
                <li>
                    <i class='bx bx-at'></i>
                    email@example.com
                </li>
                <li>
                    <i class='bx bxs-phone'></i>
                    +01 23456789
                </li>
                <a class="clickable-link" href="https://www.linkedin.com/in/tomasmelone/">
                    <i class='bx bxl-linkedin'></i>
                    Linkedin
                </a>
                <a class="clickable-link" href="https://github.com/tomimelo/">
                    <i class='bx bxl-github' ></i>
                    Github
                </a>
                <a class="clickable-link" href="#">
                    <i class='bx bxl-facebook-circle' ></i>
                    Facebook
                </a>
                <a class="clickable-link" href="#">
                    <i class='bx bxl-twitter' ></i>
                    Twitter
                </a>
                <a class="clickable-link" href="#">
                    <i class='bx bx-world'></i>
                    Website
                </a>
            </div>
        </div>
        <div class="card-footer">
            <button>Send message</button>
        </div>
    </div>
</div>