.page-container {
    align-items: center;
    justify-content: center;
}

.main-buttons {
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

.avatar {
    width: 250px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}

@media only screen and (max-width: 768px) {
    .page-container {
        flex-direction: column;
    }

    .text-content {
        text-align: center;
    }

    .main-buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 615px) {
    .avatar {
        width: 200px;
    }
}