<div class="page-container">
    <img class="avatar" decoding="async" src="../../../assets/imgs/photo.webp" alt="Avatar">
    <div class="text-content">
        <h1>Hi, my name is <span class="red">Tomás</span></h1>
        <p>I'm a <span class="green">Full Stack Web Developer</span> based in Spain</p>
        <div class="main-buttons">
            <a routerLink="/about-me" class="code-button">About me</a>
            <a routerLink="/my-projects" class="code-button">View my work</a>
        </div>
    </div>
</div>